.font{
    color: rgb(175, 155, 68);
    padding: 100px;
    font-weight: 600;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    background-color: rgb(27, 27, 46);
    
}
.mycord{
    align-items: center; 
    display: flex;
    padding-top: 0%;
    padding-left: 10%;
    padding-bottom: 30px;
    background-color: #9b949480; /* Rouge avec 50% de transparence */
    transition: background-color 1s ease
    
    
}
.nom{
    padding-top: 10%;
    font-style: oblique;
    
    /* font-family: 'impact', sans-serif; */
     
}
.myprofil{
    
    margin-right:80px ;
    position: absolute;
    left: 50%;
    border-radius: 100px;
    width: 200px; /* Ajuste la taille selon tes besoins */
    overflow: hidden;
    object-fit: cover; /* Pour que l'image remplisse bien l'espace */  
    }
 .email{
    display: flex;
    align-items: center;
    flex-direction: row;
 } 
 .whatsapp{
    display: flex;
    align-items: center;
    flex-direction: row;
    
 }  
 .FB{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
 }
.call{ display: flex;
    align-items: center;
    flex-direction: row;

}
.corp{
    padding: 3%;
    
}
.deco{
    border-width: 80px;
    border: right 20px; ;
    background-color: rgb(27, 27, 46);
    color: aliceblue; 
    display: inline-block; La bordure s'adapte à la taille du texte
;    display: grid;
     place-items: center;  /* Centre à la fois horizontalement et verticalement */
     
  }
  @media (max-width: 160px)  {
       #font{
        background-size: cover;  /* Permet à l'image de couvrir tout l'écran */
        background-position: center;  /* Centrer l'image dans l'écran */
        background-repeat: no-repeat;  /* Empêche l'image de se répéter */
      }
       
 }

